header,footer{
    background-color: rgb(207, 189, 189);
    height: 100px;
}

header .header-nav a {
    text-transform: uppercase ;
    text-decoration: none;
    color: black;
    margin: 15px ;
    text-align: center;

}


main{height: auto; width:100% ;}
main .table{
    font-size: medium;
}



footer{margin-top: 150px;text-align: center;}
footer .Links a {
    text-decoration: none;
    color: black;
    margin: 30px ;    
}

footer .CopyRight {font-size: 150%;text-align: center;}

footer .Social-Media {text-align: center;}